@import "tailwindcss";

:root {
    --background: #0f1115;
    --foreground: #f3f3f3;
    --accent-green: #4ade80;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--background);
    color: var(--foreground);
}
